.container a {
    display: block;
    padding: 13px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins';

}

nav {
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.container { 
    display: flex;
    width: 100%; 
    max-width: 1850px;
    height: 50px;
    background-color: black;
    border: 9px solid lightgreen;
    border-radius: 20px;
    margin: 0 auto;
 
}

body {
    background-image: url(background2\ \(2\).png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: Poppins;
    src: url(Poppins\ Light\ 300.ttf) 
}

.container a:hover {
    color: lightgreen;
    transition: .8s;
}

h1 {
    text-align: center;
    color: lightgreen;
}

#forms {
    max-width: 500px;
    height: 220px;
    border: 3px solid black;
    margin: 0 auto; 
}

label {
    padding: 3px;
    color: lightgreen;
}

#courseDesc {
    padding: 3px;
    width: 100%; 
    max-width: 450px; 
    height: 80px;
    margin: 10px auto;
}

input {
    width: 100%; 
    max-width: 200px; 
    color: black;
}

#submit {
    height: 25px;
    margin: 10px;
    max-width: 200px;
    background-color: black;
    color: lightgreen;
}
@media (max-width: 1000px) {
    .container {
        flex-direction: row; 
        height: 50px; 
        width: 500px;
        text-align: center;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container a {
        margin: 5px; 
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }
}
p{
    color: lightgreen;
    font-family:Poppins ;
}
p a:hover{
    color: crimson;
    transition: 0.5s;
}
p a{
    color: lightgreen;
}
.business img{
width: 400px;
height: auto;
}
.business{
    display: flex;
    flex-direction: wrap;
    gap: 50px;
    margin-left: 40px;
}